<h1><%= @brand.name %></h1>

<% @brand.perfumes.each do |perfume| %>
  <li><%= link_to perfume.name, brand_perfume_path(@brand, perfume) %> </li>
<% end %>

<%= render 'perfumes/new' %>
<br><br>
<%= link_to 'Home', root_path %>